<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="/{{ STATIC_PATH }}css/default.css" rel="stylesheet" type="text/css" media="all" />
    <title>500 Internal Server Error</title>
</head>
<body>
    <section class="base-error-layout">
        <div class="base-error-container">
            <figure class="left-error-box">
                <img src="/img/lisnr_logo.png" />
            </figure>
            <figure class="right-error-box">
                <p class="error-msg">
                    500 Internal Server Error
                <p>
                <p>
                    <a href="https://www.lisnr.com" class="home-page-link">Click here to return to our home page.</a>
                </p>
            </figure>

        </div>
    </section>
</body>
</html>